doctype html
html(lang='en')
  head
    title Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand|Lato|Muli|Merriweather:300i,300')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='/scripts/about.js')

  body
    .container
      #loader-wrapper
        #loader
          svg.svg-animation(xmlns="http://www.w3.org/2000/svg" width="6.8in" height="8.8in" viewBox="0 0 612 792")
            path.svg-animation-path#Selection(fill="none" stroke="white" stroke-width="1" d="M 159.00,85.17\
               C 159.00,85.17 167.17,78.59 167.17,78.59\
                 167.17,78.59 174.00,78.00 174.00,78.00\
                 174.00,78.00 232.00,78.00 232.00,78.00\
                 232.00,78.00 445.00,78.00 445.00,78.00\
                 445.00,78.00 419.00,105.00 419.00,105.00\
                 419.00,105.00 372.00,152.00 372.00,152.00\
                 372.00,152.00 357.00,167.00 357.00,167.00\
                 357.00,167.00 348.00,174.40 348.00,174.40\
                 348.00,174.40 341.00,175.00 341.00,175.00\
                 341.00,175.00 149.00,175.00 149.00,175.00\
                 149.00,175.00 149.00,319.00 149.00,319.00\
                 149.00,319.00 124.00,319.00 124.00,319.00\
                 124.00,319.00 124.00,150.00 124.00,150.00\
                 124.00,150.00 323.00,150.00 323.00,150.00\
                 334.22,149.98 336.28,144.72 344.00,137.00\
                 344.00,137.00 378.00,103.00 378.00,103.00\
                 378.00,103.00 142.00,103.00 142.00,103.00\
                 142.00,103.00 159.00,85.17 159.00,85.17 Z\
               M 230.00,206.00\
               C 230.00,206.00 230.00,294.00 230.00,294.00\
                 230.00,294.00 444.00,294.00 444.00,294.00\
                 438.26,302.28 420.09,318.85 412.00,326.17\
                 412.00,326.17 398.00,339.96 398.00,339.96\
                 398.00,339.96 368.00,368.04 368.00,368.04\
                 363.22,372.61 348.16,388.51 343.00,390.40\
                 341.05,391.12 338.10,391.00 336.00,391.00\
                 336.00,391.00 149.00,391.00 149.00,391.00\
                 149.00,391.00 149.00,492.00 149.00,492.00\
                 149.00,492.00 149.00,542.00 149.00,542.00\
                 149.00,542.00 189.17,501.58 189.17,501.58\
                 189.17,501.58 204.40,485.00 204.40,485.00\
                 204.40,485.00 205.00,478.00 205.00,478.00\
                 205.00,478.00 205.00,421.00 205.00,421.00\
                 210.71,425.07 216.99,431.04 222.00,436.00\
                 223.64,437.62 228.00,441.55 228.98,443.28\
                 230.13,445.31 229.98,447.75 230.00,450.00\
                 230.00,450.00 230.00,489.00 230.00,489.00\
                 230.00,491.09 230.12,494.06 229.40,496.00\
                 227.58,500.96 215.49,511.44 211.28,515.96\
                 208.88,518.55 205.94,520.59 205.00,524.00\
                 205.00,524.00 189.00,538.83 189.00,538.83\
                 189.00,538.83 167.00,559.96 167.00,559.96\
                 167.00,559.96 147.00,579.00 147.00,579.00\
                 147.00,579.00 124.00,601.00 124.00,601.00\
                 124.00,601.00 124.00,368.00 124.00,368.00\
                 124.00,368.00 216.00,368.00 216.00,368.00\
                 216.00,368.00 231.00,367.00 231.00,367.00\
                 231.00,367.00 322.00,367.00 322.00,367.00\
                 322.00,367.00 329.00,366.40 329.00,366.40\
                 329.00,366.40 346.00,352.00 346.00,352.00\
                 346.00,352.00 362.00,336.96 362.00,336.96\
                 362.00,336.96 381.00,319.00 381.00,319.00\
                 381.00,319.00 205.00,319.00 205.00,319.00\
                 205.00,319.00 205.00,206.00 205.00,206.00\
                 205.00,206.00 230.00,206.00 230.00,206.00 Z")
          img.svg-final-img(src="/images/logo3.svg")
        .loader-section.section-left
        .loader-section.section-right
      #content
        .row.navbar-row
          nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
            .navbar-header
              button#dropdown.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.page-scroll.navbar-logo(href='/')
                img.navbar-img(src='/images/logo.svg')
            #example-navbar-collapse.collapse.navbar-collapse.navbar-color(style='width : 100%;')
              ul.nav.navbar-nav.navbar-right.main-nav
                li
                  a.page-scroll(href='/') Home
                li
                  a.page-scroll.blog-hyperlink(href='/') Blog
                li
                  a.page-scroll(href='/about') About
                li
                  a.page-scroll(href='/contact') Contact
                li.desktop-mode(style="padding-right: 0")
                  form.searchbox
                    input.searchbox-input(type="search" placeholder="Search......" name="search" onkeyup="buttonUp();" required)
                    input.searchbox-submit(type="submit" value="Go")
                    span.searchbox-icon
                      i.fa.fa-search.searchbox-search-icon(aria-hidden="true")
                li.mobile-mode(style="padding-right: 0")
                  .custom-search-input
                    form.input-group
                      input.search-query.form-control(type='search' placeholder='Search')
                      input.searchbox-mobile-submit(type="submit" value="Go")
                      span.input-group-btn
                          span.glyphicon.glyphicon-search
        .about-us
          .header
            img.header-image(src="/images/about.jpeg")
            .header-text Us.
          h2.what-we-do What we do.
          .biography
            h2.biography-title FIINTECH STORY
            p.biography-content
              |Fiintech is a developing blogging website. We specialise in Fintech as well as other subcategories such as
              i &nbsplifestyle and technology
              |. We're a culture of simplicity and functionality, proving that the two isn't mutually exclusive.
            p.biography-content
              |At Fiintech, we believe the accessibility of extra knowledge with
              i &nbspauthenticity, mindfulness, simplicity and inspiration
              |. We believe that the web network is one of the most exciting places in the world, and it's truly an honour for us to connect.
          h2.what-we-do Meet the team.
          .team
            h2.team-title FIINTECH TEAM
            p.team-content
              | The Fiintech team are a team of dedicated individuals who focus on these core elements:
              i &nbspstory, technology and craft
              | . 
          .about-row.row
            .col-md-4.about
              img.about-image(src="/images/aboutavatar1.svg")
              h3.about-name Jenna Huey Ching
              h4.about-role Blogger & Project Manager
              h4.about-division (Story)
              .row.about-social-row
                i.fa.fa-facebook.about-social-facebook
                i.fa.fa-instagram.about-social-instagram
                i.fa.fa-twitter.about-social-twitter
              hr.about-seperator
              p.about-content Fintech by day. An entrepreneur by night. A jack of all trades driven by bold intellect and creative thinking. Keen reader who also loves travelling.
              hr.about-seperator
              h4.about-favourite
                i Favourite Activity:
                br
                i #Travelling
            .col-md-4.about
              img.about-image(src="/images/aboutavatar2.svg")
              h3.about-name Jason Beh
              h4.about-role Full-stack Web Developer
              h4.about-division (Technology)
              .row.about-social-row
                i.fa.fa-facebook.about-social-facebook
                i.fa.fa-github.about-social-github
                i.fa.fa-instagram.about-social-instagram
              hr.about-seperator
              p.about-content An enthusiast in problem-solving. Fitness junkie during free time and stressful moments. And lastly, a food lover!
              hr.about-seperator
              h4.about-favourite
                i Favourite Language:
                br
                i #JavaScript
            .col-md-4.about
              img.about-image(src="/images/aboutavatar3.svg")
              h3.about-name Darius Kenwoods
              h4.about-role Web Designer & Supervisor
              h4.about-division (Craft)
              .row.about-social-row
                i.fa.fa-instagram.about-social-instagram
                i.fa.fa-twitter.about-social-twitter
                i.fa.fa-google-plus.about-social-google-plus
              hr.about-seperator
              p.about-content Loves pushing boundaries for better outcome & result. A charismatic, outgoing guy who has a large appetite for burgers. 
              hr.about-seperator
              h4.about-favourite
                i Favourite Colour:
                br
                i #F7F7F7
          h2.what-we-do Our values.
          .values
            h2.values-title FIINTECH VALUES
            p.values-content
              | These traits are the
              i &nbspfabric of our culture and the frameworks of all
              | &nbspour decisions made within the walls of our website.
            h2.values-heading Authenticity.
              p.values-subheading
                i Genuine and unbiased.
            h2.values-heading Mindfulness.
              p.values-subheading
                i We exercise in sensible contents. Nuanced.
            h2.values-heading Simplicity.
              p.values-subheading
                i Distill to the meaningful.
            h2.values-heading Inspirational.
              p.values-subheading
                i Embracing in positive vibes.
          .testimonials
            #myCarousel.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#myCarousel" data-slide-to="0")
                li(data-target="#myCarousel" data-slide-to="1")
                li(data-target="#myCarousel" data-slide-to="2")

              .carousel-inner
                .item.active
                  p.testimonials-text
                    | "Having a little extra knowledge in your life should be an affordable luxury for anyone who wants it. Extra knowledge equals extra power, and extra power means extra freedom to live the life doing exactly what you want"
                .item
                  p.testimonials-text
                    | "Having a little extra knowledge in your life should be an affordable luxury for anyone who wants it. Extra knowledge equals extra power, and extra power means extra freedom to live the life doing exactly what you want"
                .item
                  p.testimonials-text
                    | "Having a little extra knowledge in your life should be an affordable luxury for anyone who wants it. Extra knowledge equals extra power, and extra power means extra freedom to live the life doing exactly what you want"
              a.left.carousel-control(href="#myCarousel" data-slide="prev")
                span.glyphicon.glyphicon-chevron-left
                span.sr-only Previous
              a.right.carousel-control(href="#myCarousel" data-slide="next")
                span.glyphicon.glyphicon-chevron-right
                span.sr-only Next
            img.testimonials-quotes-symbol(src="/images/quotes.png")



