extends layout

block content
  h1=title
  a(href='/master/logout') LOGOUT
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post', action='/master/authors/add', enctype="multipart/form-data")
    .form-group
      label Author Name
      input.form-control(name='title', type='text')
    .form-group
      label Short Description
      textarea.form-control(name='body', id='body')
    .form-group
      label Main Image:
      input.form-control(name='image', type='file')
    input.btn.btn-default(name="submit", type="submit", value="Save")