extends layout

block content
  section.contact
    .contact-form-container
      form.contact-form(method="POST", action='/master/posts/add', enctype="multipart/form-data")
        .contact-form-group.form-group
          h6.contact-form-label Title
          input.contact-form-input(type="text" placeholder="Post Title (required)" name="title")
        .contact-form-group.form-group
          h6.contact-form-label-static Tags (Maximum: 2)
          each category, i in categories
            input.test(type="checkbox" value="#{category.name}" name="tags" style="display: inline")
            p(style="display:inline") &nbsp#{category.name}
            br
        .contact-form-group.form-group
          h6.contact-form-label Description
          textarea.contact-form-message(maxlength="150" rows="3" placeholder="Description (150 characters max)" name="description")
          .row
            .col-xs-6
            .col-xs-6
              h6.contact-form-remaining 150 characters left
        .contact-form-group.form-group
          h6.contact-form-label-static Main Image
          input#file(name='mainimage', type='file')
        .contact-form-group.form-group
          h6.contact-form-label-static Author
          select.form-control(name='author')
            if authors
              each author, i in authors
                option(value='') Author
                option(value='#{author.name}') #{author.name}
        .contact-form-group.form-group
          h6.contact-form-label-static Content
          textarea.content#eg-dark-theme
        .blog(style="border: 1px solid lightgray")
          .post-img-container
            img.post-img(src="/images/img1.jpeg")
          .blog-content
            .row.post-tags-likes-row
              .col-xs-9
                h5.post-tags(style="background: orange; border-color: orange") Tag 1
                h5.post-tags(style="background: red; border-color: red") Tag 2
              .col-xs-3
                .post-likes
                  i.fa.fa-heart.post-likes-icon.text-right
                  h4.post-likes-number.text-right &nbsp 12
            h1.post-title title
            h2.post-description description
            h3.post-author-date by Author  |  18 July 2017
            hr.post-seperator-line

            .post-content.fr-view Content

          h3.post-like-our-article-prompt
            b LIKE&nbsp
            | our article?&nbsp
            b FEEL FREE&nbsp
            | to like it&nbsp
            B BELOW
          .post-like-button-row
            a.post-like-button
              i.fa.fa-heart.post-like-button-icon
              h3.post-like-button-number &nbsp 12
          .blog-content-extended
            hr.post-ending-seperator-line
            .post-author
              img.post-author-img(src='/images/jack_sparrow.jpg')
              .post-wording
                h6.post-author-name &nbsp&nbsp Author
                h6.post-time &nbsp&nbsp Role
            .load-more
              a.load-more-button Find Out More
        .contact-form-submit-row
          input.contact-form-submit(type="submit" value="CREATE POST")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_editor.pkgd.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_style.min.css')
  link(rel='stylesheet', href='/stylesheets/showing.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/js/froala_editor.pkgd.min.js")
  script(type="text/javascript").

    $(function() {
      $('.content').froalaEditor({
        heightMin: 300,
      })
      .on('froalaEditor.contentChanged', function (e, editor) {
        $('.post-content.fr-view').html(editor.html.get());
      })
    });



    var limit = 2;
    $('.test').on('change', function(evt) {
      if($(this).siblings(':checked').length >= limit) {
        this.checked = false;
      }
    });
    var len = 0;
    var maxchar = 150;

    $('.contact-form-message').keyup(function(){
      len = this.value.length;
      $(".contact-form-remaining").html(maxchar - len + " characters left");
      if(len >= 1) {
        $('.contact-form-message').siblings(".contact-form-label").css('opacity', 1);
      } else {
        $('.contact-form-message').siblings(".contact-form-label").css('opacity', 0);
      }
    })

    $(".contact-form-input").on('keyup', function(e) {

      var count = $(this).val().length;

      if(count >= 1) {
        $(this).siblings(".contact-form-label").css('opacity', 1);
      } else {
        $(this).siblings(".contact-form-label").css('opacity', 0);
      }
    })

    $('.contact-form').bootstrapValidator({
      fields: {
        title: {
          validators: {
            notEmpty: {
              message: 'Please enter a title'
            }
          }
        },
        tags: {
          validators: {
            notEmpty: {
              message: 'Please tick at least 1 tag'
            }
          }
        },
        description: {
          validators: {
            notEmpty: {
              message: 'Please enter a description'
            }
          }
        },
        content: {
          validators: {
            notEmpty: {
              message: 'Please enter the post content'
            }
          }
        },
        mainimage: {
          validators: {
            notEmpty: {
              message: 'Please upload an image for the post'
            }
          }
        },
        author: {
          validators: {
            notEmpty: {
              message: 'Please select an author for the post'
            }
          }
        }
      }
    })