extends layout

block content
  section.contact
    .contact-form-container
      form.contact-form(method="POST", action='/master/posts/add', enctype="multipart/form-data")
        .contact-form-group.form-group
          h6.contact-form-label Title
          input.contact-form-input(type="text" placeholder="Post Title (required)" name="title")
        .contact-form-group.form-group
          h6.contact-form-label-static Tags (Maximum: 2)
          each category, i in categories
            input.test(type="checkbox" value="#{category.name}" name="tags" style="display: inline")
            p(style="display:inline") &nbsp#{category.name}
            br
        .contact-form-group.form-group
          h6.contact-form-label Description
          textarea.contact-form-message(maxlength="150" rows="3" placeholder="Description (150 characters max)" name="description")
          .row
            .col-xs-6
            .col-xs-6
              h6.contact-form-remaining 150 characters left
        .contact-form-group.form-group
          h6.contact-form-label-static Content
          textarea(name="content")
        .contact-form-group.form-group
          h6.contact-form-label-static Main Image
          input#file(name='mainimage', type='file')
        .contact-form-group.form-group
          h6.contact-form-label-static Author
          select.form-control(name='author')
            if authors
              each author, i in authors
                option(value='') Author
                option(value='#{author.name}') #{author.name}
        .contact-form-submit-row
          input.contact-form-submit(type="submit" value="CREATE POST")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js")
  script(type="text/javascript").

    CKEDITOR.replace( 'content' );

    var limit = 2;
    $('.test').on('change', function(evt) {
      if($(this).siblings(':checked').length >= limit) {
        this.checked = false;
      }
    });
    var len = 0;
    var maxchar = 150;

    $('.contact-form-message').keyup(function(){
      len = this.value.length;
      $(".contact-form-remaining").html(maxchar - len + " characters left");
      if(len >= 1) {
        $('.contact-form-message').siblings(".contact-form-label").css('opacity', 1);
      } else {
        $('.contact-form-message').siblings(".contact-form-label").css('opacity', 0);
      }
    })

    $(".contact-form-input").on('keyup', function(e) {

      var count = $(this).val().length;

      if(count >= 1) {
        $(this).siblings(".contact-form-label").css('opacity', 1);
      } else {
        $(this).siblings(".contact-form-label").css('opacity', 0);
      }
    })

    $('.contact-form').bootstrapValidator({
      fields: {
        title: {
          validators: {
            notEmpty: {
              message: 'Please enter a title'
            }
          }
        },
        tags: {
          validators: {
            notEmpty: {
              message: 'Please tick at least 1 tag'
            }
          }
        },
        description: {
          validators: {
            notEmpty: {
              message: 'Please enter a description'
            }
          }
        },
        content: {
          validators: {
            notEmpty: {
              message: 'Please enter the post content'
            }
          }
        },
        mainimage: {
          validators: {
            notEmpty: {
              message: 'Please upload an image for the post'
            }
          }
        },
        author: {
          validators: {
            notEmpty: {
              message: 'Please select an author for the post'
            }
          }
        }
      }
    })