doctype html
html
  head
    title NodeBlog
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/scripts/layout.js')
  body
    .container
      img.logo(src='/images/logo.png')
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/master/posts/add') Add Post
          li
            a(href='/master/categories/add') Add Category
          li
            a(href='/master/posts') Posts
          li
            a(href='/master/categories') Categories
          li
            a(href='/master/authors') Authors
          li
            a(href='/master/authors/add') Add Author
      != messages()
      block content
      footer
        p NodeBlog &copy; 2017