block content
doctype html
html
  head
    title Results
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Quicksand')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/results.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='/scripts/results.js')

  body
    .container
      #wrapper
        .overlay
        nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
            .navbar-header
              button#dropdown.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.page-scroll.navbar-logo(href='/')
                img.navbar-img(src='/images/logo.svg')
            #example-navbar-collapse.collapse.navbar-collapse.navbar-color(style='width : 100%;')
              ul.nav.navbar-nav.navbar-right.main-nav
                li
                  a.page-scroll(href='/') Home
                li
                  a.page-scroll.blog-hyperlink(href='/') Blog
                li
                  a.page-scroll(href='/about') About
                li
                  a.page-scroll(href='.form') Contact
                li.desktop-mode(style="padding-right: 0")
                  form.searchbox
                    input.searchbox-input(type="search" placeholder="Search......" name="search" onkeyup="buttonUp();" required)
                    input.searchbox-submit(type="submit" value="Go")
                    span.searchbox-icon
                      i.fa.fa-search.searchbox-search-icon(aria-hidden="true")
                li.mobile-mode(style="padding-right: 0")
                  .custom-search-input
                    form.input-group
                      input.search-query.form-control(type='search' placeholder='Search')
                      input.searchbox-mobile-submit(type="submit" value="Go")
                      span.input-group-btn
                          span.glyphicon.glyphicon-search
        nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper(role="navigation")
          ul.nav.sidebar-nav
            li.sidebar-brand
              a Filter By:
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Name
                span.caret
              ul.dropdown-menu(role="menu")
                li.dropdown-list
                  a(href="/search/name-asc") A - Z
                li.dropdown-list
                  a(href="/search/name-desc") Z - A
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Tags
                span.caret
              ul.dropdown-menu(role="menu")
                if tags
                  each tag, i in tags
                    li.dropdown-list
                      a(href="/search/#{tag.name}") #{tag.name}
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Time
                span.caret
              ul.dropdown-menu(role="menu")
                li.dropdown-list
                  a(href="/search/time-newest") Newest
                li.dropdown-list
                  a(href="/search/time-oldest") Oldest
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Likes
                span.caret
              ul.dropdown-menu(role="menu")
                li.dropdown-list
                  a(href="/search/likes-highest") Highest
                li.dropdown-list
                  a(href="/search/likes-lowest") Lowest
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") Authors
                span.caret
              ul.dropdown-menu(role="menu")
                if authors
                  each author, i in authors
                    li.dropdown-list
                      a(href="/search/author/#{author.name}") #{author.name}
        .row#page-content-wrapper(style="margin-top: 61px;")
          button.hamburger.is-closed(type="button" data-toggle="offcanvas")
            span.hamb-top
            span.hamb-middle
            span.hamb-bottom
            h4.hamb-text Filters
          .results-section
            h2.recent-post-heading.text-center Search Results
            h5.text-center Search Term: Hello
            if posts
              h1 Posts
            else
              p There are no posts to display
            footer
              .row
                .col-md-4
                  h4.company-copyright &#169; 2017 Fiintech | All Rights Reserved
                .col-md-4
                  a(href="#")
                    i.fa.fa-instagram.footer-social(aria-hidden="true")
                  a(href="#")
                    i.fa.fa-twitter.footer-social(aria-hidden="true")
                  a(href="#")
                    i.fa.fa-linkedin.footer-social(aria-hidden="true")
                .col-md-4
                  a(href="#")
                    h4.questions Questions? Contact Us Now


