.contact {
  position: sticky;
  text-align: center;
}

.contact-form-container {
  width: 90%;
  margin: 0 auto;
  padding: 45px 0 0 0;
}

.contact-form {
  text-align: left;
  padding: 0 5%;
}

.contact-form-group {
  margin-top: 15px;
}

.contact-form-label {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0;
  transition: 0.3s;
}

.contact-form-input {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: #919294;
  background: none;
  width: 100%;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-size: 14px;
}

.contact-form-input:focus {
  border-color: ghostwhite;
}

.contact-form-message {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: #919294;
  background: none;
  width: 100%;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-size: 14px;
}

.contact-form-message:placeholder {
  color: #919294;
  font-size: 14px;
}

.contact-form-input:placeholder {
  color: #919294;
  font-size: 14px;
}

.contact-form-remaining {
  text-align: right;
  margin: 0;
  font-size: 10px;
}

.contact-form-submit {
  text-decoration: none;
  color: #919294;
  padding: 16px 25px;
  font-size: 14px;
  border: 1px solid #919294;
  top: 40px;
  transition: 0.3s;
  background: none;
}

.contact-form-submit-row {
  width: 152px;
  margin: 0 auto;
  margin-top: 30px;
}

.contact-form-submit:hover {
  color: white;
  border: 1px solid #919294;
  background: black;
}