* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Coolvetica;
  src: url('../fonts/coolvetica.ttf');
}

@font-face {
  font-family: AmericanTypewriter;
  src: url('../fonts/american-typewriter.ttf');
}

@font-face {
  font-family: HelveticaNormal;
  src: url('../fonts/helvetica.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/helvetica-neue.ttf');
}

@font-face {
  font-family: AvenirLight;
  src: url('../fonts/avenir-light.otf');
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima-nova.otf');
}

/* Navigation Bar */

  .main-nav li a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: white;
  }

  .main-nav li a:hover {
    border-bottom: 2px solid #EB7C10;
  }

  .navbar-logo {
    height: 44px;
    float: left;
    padding-left: 50px;
    display: inline;
  }

  .navbar-logo-words, .navbar-logo-words:hover {
    text-decoration: none;
    display: inline;
    color: #FFC000;
  }

  .navbar-header {
    height: 50px;
  }

  .desktop-mode {
    width: 80px;
    padding-left: 0px;
  }

  .navbar-color {
    background: white;
  }

  .navbar-default.hidden {
    transition: transform 3s linear;
    transform: translateY('-90px');
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #EB7C10;
  }

  .navbar-img {
    width: 40px;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
  }

  .navbar-default .navbar-nav > li > a {
    color: #EB7C10;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: ProximaNova;
    font-weight: normal;
  }

  .navbar-nav {
    min-height: 21px;
    margin: 0;
  }

  .navbar-nav li {
    padding: 0 17px;
  }

  @media screen and (min-width: 870px) and (max-width: 970px) {
    .navbar-nav li {
      padding: 0 15px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 869px) {
    .navbar-nav li {
      padding: 0 10px;
    }
  }

  .navbar {
    border: 0px;
  }

  .navbar-fixed-top .navbar-brand {
      opacity: 1;
  }

  .navbar-default{
    margin: 0;
    height: 50px;
    background:white;
    background-image:none;
    border-color:transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
  }

  .navbar-row {
    position: absolute;
    z-index: 2;
  }

  /* Search Bar */
    .searchbox {
      position: relative;
      min-width: 50px;
      width: 0%;
      height: 50px;
      float: right;
      overflow: hidden;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s;
    }

    .searchbox-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      background: #323232;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0px 55px 0px 36px;
      font-size: 20px;
      color: white;
    }

    .searchbox-input::-webkit-input-placeholder {
      color: grey;
    }

    .searchbox-input:-moz-placeholder {
      color: grey;
    }

    .searchbox-input::-moz-placeholder {
      color: grey;
    }

    .searchbox-input:-ms-input-placeholder {
      color: grey;
    }

    .searchbox-icon, .searchbox-submit {
      width: 60px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      font-family: verdana;
      font-size: 22px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 100%;
      text-align: center;
      cursor: pointer;
      color: #EB7C10;
      background: white;
    }

    .searchbox-submit {
      color: white;
    }

    .searchbox-open {
      width: 100%;
    }

    .searchbox-search-icon {
      color: #EB7C10;
      min-height: 50px;
      font-size: 24px;
      margin-left: -1px;
      padding-top: 12px;
    }

/* Mobile Settings For Navigation */

  @media screen and (min-width: 767px) and (max-width: 875px) {
    .caption-heading1, .caption-heading2 {
      font-size: 54px;
    }
  }

  @media screen and (min-width: 768px) {
    .navbar-nav .mobile-mode {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {

    .navbar-nav .desktop-mode {
      display: none;
    }

    .caption-heading1, .caption-heading2 {
      font-size: 54px;
    }

    .navbar-logo {
      height: 35px;
      padding-left: 50px;
      margin-top: 5px;
    }

    .navbar-img {
      width: 35px;
      padding-top: 0px;
      margin-top: 0;
    }

    .navbar-default button.navbar-toggle {
      border: 0px;
      margin-top: 10px;
      margin-right: 38px;
      margin-bottom: 0;
      padding: 0;
      height: 35px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #EB7C10;
      width: 25px;
      height: 2px;
    }

    .navbar-header {
      transition: 0.7s linear;
    }

    .hero-caption {
      font-size: 30px;
    }

    .main-nav li a:hover {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav li a:hover {
      color: #FFC000;
    }

    .navbar-default .navbar-nav li .black-font:hover {
      color: #000000;
      border-bottom: transparent;
    }

    /* Mobile Search Bar */
      .custom-search-input {
          margin:0;
          margin-bottom: 15px;
          padding: 0;
      }

      .custom-search-input .search-query {
          padding-right: 3px;
          padding-right: 4px \9;
          padding-left: 3px;
          padding-left: 4px \9;

          margin-bottom: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
      }

      .custom-search-input button {
          border: 0;
          background: none;
          padding: 2px 5px;
          margin-top: 2px;
          position: relative;
          left: -28px;
          margin-bottom: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          color:#EB7C10;
      }

      .input-group {
        width: 80%;
        display: inline-flex;
      }

      .searchbox-mobile-submit {
        width: 42px;
        height: 30px;
        font-family: verdana;
        font-size: 22px;
        z-index: 5;
        border: 0;
        text-align: center;
        color: #EB7C10;
        background: white;
      }
  }

.col-xs-6, .col-xs-8, .col-xs-4, .col-xs-5, .col-xs-7 {
  padding: 0;
}

p {
  font-size: 16px;
  color: white;
}

h5 {
  display: inline-block;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:focus, a:hover {
  color: #5b5b5b;
  text-decoration: none;
  background-color: none;
}

.filter-section {
  z-index: 2000;
  position: absolute;
  top: 0;
  width: 100vw;
  border-right: 1px solid black;
  height: 100vh;
  background: white;
  left: -100vw;
}

@keyframes leftSlideIn {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes leftSlideOut {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}


.searchbox-prompt {
  position: relative;
  min-width: 51px;
  width: 80%;
  max-width: 870px;
  margin: 0 auto;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input-prompt {
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  outline: 0;
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 18px;
  font-family: HelveticaNeue;
}

.searchbox-icon-prompt {
  width: 50px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  font-family: verdana;
  font-size: 22px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-left: none;
  outline: 0;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  color: #f7f7f7;
  background: #EB7C10;
}

.searchbox-icon-prompt {
  background: rgb(218, 109, 13);
}

.searchbox-search-icon-prompt {
  color: white;
  min-height: 50px;
  font-size: 24px;
  padding-top: 9px;
}


/* Sidenav */
  #page-content-wrapper {
    margin-top: 50px;
  }

  #wrapper {
      padding-left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled {
      padding-left: 220px;
  }

  #sidebar-wrapper {
      z-index: 1000;
      left: 220px;
      width: 0;
      height: 100%;
      margin-left: -220px;
      overflow-y: auto;
      overflow-x: hidden;
      background: #1a1a1a;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #sidebar-wrapper::-webkit-scrollbar {
    display: none;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 220px;
  }

  #page-content-wrapper {
      width: 100%;
  }

  #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -220px;
  }

  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1030;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
      text-align:center;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;

  }

  .sidenav a:hover{
      color: #f1f1f1;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidebar-nav {
      position: absolute;
      top: 75px;
      width: 220px;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .sidebar-nav li {
      position: relative;
      line-height: 20px;
      display: inline-block;
      width: 100%;
  }

  .sidebar-nav li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 3px;
      background-color: #1c1c1c;
      -webkit-transition: width .2s ease-in;
        -moz-transition:  width .2s ease-in;
         -ms-transition:  width .2s ease-in;
              transition: width .2s ease-in;

  }
  .sidebar-nav .dropdown:nth-child(2):before {
      background-color: #5E0087;
  }
  .sidebar-nav .dropdown:nth-child(3):before {
      background-color: #006600;
  }
  .sidebar-nav .dropdown:nth-child(4):before {
      background-color: #cc5490
  }
  .sidebar-nav .dropdown:nth-child(5):before {
      background-color: #990000;
  }
  .sidebar-nav .dropdown:nth-child(6):before {
      background-color: #b2b200;
  }
  .sidebar-nav .dropdown:hover:before,
  .sidebar-nav .dropdown.open:hover:before,
  .dropdown-menu li:hover:before,
  .dropdown-menu li.open:hover:before {
      width: 100%;
      -webkit-transition: width .2s ease-in;
        -moz-transition:  width .2s ease-in;
         -ms-transition:  width .2s ease-in;
              transition: width .2s ease-in;

  }

  .dropdown-menu li:nth-child(odd):before {
    background-color: #EB7C10;
  }

  .dropdown-menu li:nth-child(even):before {
    background-color: #314190;
  }

  .dropdown-list {
    margin-left: 20px;
  }

  .dropdown-menu .dropdown-list a {
    padding: 6px 15px 6px 30px;
  }

  .sidebar-brand a {
    padding: 5px 15px;
    font-size: 24px;
  }


  .sidebar-nav li a {
      display: block;
      color: ghostwhite;
      text-decoration: none;
      padding: 12px 15px 12px 30px;
      font-size: 20px;
  }

  .sidebar-nav .sidebar-brand a {
    padding: 5px 15px;
    font-size: 26px;
  }

  .sidebar-nav li a:hover,
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus,
  .sidebar-nav li.open a:hover,
  .sidebar-nav li.open a:active,
  .sidebar-nav li.open a:focus{
      color: #fff;
      text-decoration: none;
      background-color: transparent;
  }

  .sidebar-nav > .sidebar-brand {
      line-height: 44px;
  }
  .sidebar-nav .dropdown-menu {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0;
      border: none;
      background-color: #222;
      box-shadow: none;
  }

  /*-------------------------------*/
  /*       Hamburger-Cross         */
  /*-------------------------------*/

  .hamburger {
    position: absolute;
    top: 70px;
    z-index: 999;
    display: block;
    width: 110px;
    height: 40px;
    color: white;
    font-size: 25px;
    background: #323232;
    border: none;
  }

  .hamb-text{
    margin-left: 25px;
    font-size: 22px;
    margin-top: 9px;
  }

  .hamburger:hover,
  .hamburger:focus,
  .hamburger:active {
    outline: none;
  }
  .hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
  }

  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom,
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 25px;
    margin-left: 5px;
  }
  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom {
    background-color: white;
  }
  .hamburger.is-closed .hamb-top {
    top: 9px;
    -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
  }
  .hamburger.is-closed .hamb-bottom {
    bottom: 9px;
    -webkit-transition: all .35s ease-in-out;
  }

  .hamburger.is-closed:hover .hamb-top {
    top: 15%;
    -webkit-transition: all .2s ease-in-out;
  }
  .hamburger.is-closed:hover .hamb-bottom {
    bottom: 15%;
    -webkit-transition: all .2s ease-in-out;
  }
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
    background-color: white;
  }
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
  }
  .hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  }
  .hamburger.is-open .hamb-middle { display: none; }
  .hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  }
  .hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
  }

  .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(250,250,250,.8);
      z-index: 2;
  }

.recent-post-heading {
  font-size: 40px;
  font-family: Coolvetica;
  padding: 69px 15px 20px 15px;
  margin: 0;
}

.recent-post-heading:after {
  width: 40px;
  height: 1px;
  background-color: #EB7C10;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 8px;
}

.search-term {
  margin: 0;
}

.search-display-posts-length {
  margin: 0;
  font-size: 16px;
  font-family: serif;
  color: black;
  text-align: center;
}

/* Featured Card */
  .featured-card-item {
    width: 85%;
    list-style: none;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 7px #ccc;
    margin: 0 auto;
    margin-bottom: 35px;
    max-width: 250px;
    padding: 0px 0px 20px 0px;
  }

  .featured-card-img {
    margin: 0 auto;
    width: 100%;
  }

  .featured-card-img img {
    width: 100%;
    height: 180px;
  }

  @media screen and (min-width: 700px) {
    .featured-card-img img {
      height: 220px;
    }
  }

  .featured-card-tags-row {
    margin-top: 20px;
    margin: 20px 0;
    width: 0%;
  }

  .featured-card-tags-group {
    text-align: left;
  }

  @media screen and (max-width: 310px) {
    .featured-card-tags-group {
      display: none;
    }

    .featured-card-tags-row {
      height: 0;
    }
  }

  .featured-card-tags {
    display: inline;
    padding: 5px 7px;
    font-size: 11px;
    margin: 0;
    margin-top: 14px;
    margin-right: 6px;
    color: white;
  }

  .featured-card-tags:hover {
    color: white;
  }

  .featured-card-likes {
    float: right;
    position: relative;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    padding: 5px 13px;
  }

  .featured-card-title {
    max-height: 85px;
    min-height: 44px;
    font-size: 20px;
    font-family: AvenirLight;
    font-weight: bold;
    margin: 10px 0;
  }

  .featured-card-likes-icon {
    font-size: 28px;
    color: #cc0000;
  }

  .featured-card-likes-number {
    margin: 0;
    position: relative;
    top: -2px;
    font-size: 21px;
    padding: 0;
    font-family: AvenirLight;
    color: white;
  }

  .featured-card-likes-icon, .featured-card-likes-number {
    display: inline-block;
  }

  .featured-card-author, .featured-card-author-img, .featured-card-author-name, .featured-card-time {
    display:inline;
  }

  .featured-card-author-img {
    width: 37px;
    top: 9px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  }

  .featured-card-author, .featured-card-author-name, .featured-card-author-img {
    float: left;
  }

  .featured-card-author-name {
    margin: 13px 0 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  .featured-card-time {
    margin: 3px 0 0 0;
    float: left;
    font-size: 11px;
  }

  .featured-card-content {
    width: 90%;
    margin: 0 auto;
  }

/* Footer */
  footer {
    background-color: #EB7C10;
    color: white;
    text-align: center;
    padding: 25px 0px;
  }

  .footer-social {
    background: none;
    font-size: 28px;
    padding: 0px 5px;
    color: white;
  }

  .company-copyright, .questions {
    font-size: 22px;
    color: white;
  }