* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p a {
  color: black;
}

.window-container {
  background: #f7f7f7;
}

/* ScrollReveal Transitions */
  .fromTopIn
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromTopOut
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,-10px);
    opacity: 0.0;
  }

  .fromBottomIn
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromBottomOut
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,10px);
    opacity: 0.0;
  }

  .fromLeftIn
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromLeftOut
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(-10px,0);
    opacity: 0.0;
  }

  .fromRightIn
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromRightOut
  {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(10px, 0);
    opacity: 0.0;
  }

@font-face {
  font-family: Coolvetica;
  src: url('../fonts/coolvetica.ttf');
}

@font-face {
  font-family: AmericanTypewriter;
  src: url('../fonts/american-typewriter.ttf');
}

@font-face {
  font-family: HelveticaNormal;
  src: url('../fonts/helvetica.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/helvetica-neue.ttf');
}

@font-face {
  font-family: AvenirLight;
  src: url('../fonts/avenir-light.otf');
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima-nova.otf');
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.col-xs-9, .col-xs-3, .col-xs-8, .col-xs-4, .col-sm-9, .col-sm-3 {
  padding: 0;
}

a, a:focus, a:hover {
  color: transparent;
  text-decoration: none;
  cursor: pointer;
}

iframe[src^="https://apis.google.com"] {
  display: none;
}

/* Navigation Bar */

  .main-nav li a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: white;
  }

  .main-nav li a:hover {
    border-bottom: 2px solid #EB7C10;
  }

  .navbar-logo {
    height: 44px;
    float: left;
    padding-left: 50px;
    display: inline;
  }

  .navbar-logo-words, .navbar-logo-words:hover {
    text-decoration: none;
    display: inline;
    color: #FFC000;
  }

  .navbar-header {
    height: 50px;
  }

  .desktop-mode {
    width: 80px;
    padding-left: 0px;
  }

  .navbar-color {
    background: white;
  }

  .navbar-default.hidden {
    transition: transform 3s linear;
    transform: translateY('-90px');
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #EB7C10;
  }

  .navbar-img {
    width: 40px;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
  }

  .navbar-default .navbar-nav > li > a {
    color: #EB7C10;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: ProximaNova;
    font-weight: normal;
  }

  .navbar-nav {
    min-height: 21px;
    margin: 0;
  }

  .navbar-nav li {
    padding: 0 17px;
  }

  @media screen and (min-width: 870px) and (max-width: 970px) {
    .navbar-nav li {
      padding: 0 15px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 869px) {
    .navbar-nav li {
      padding: 0 10px;
    }
  }

  .navbar {
    border: 0px;
  }

  .navbar-fixed-top .navbar-brand {
      opacity: 1;
  }

  .navbar-default{
    height: 50px;
    background:white;
    background-image:none;
    border-color:transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
  }

  .navbar-row {
    position: absolute;
    z-index: 2;
  }

  /* Search Bar */
    .searchbox {
      position: relative;
      min-width: 50px;
      width: 0%;
      height: 50px;
      float: right;
      overflow: hidden;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s;
    }

    .searchbox-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      background: #323232;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0px 55px 0px 36px;
      font-size: 20px;
      color: white;
    }

    .searchbox-input::-webkit-input-placeholder {
      color: grey;
    }

    .searchbox-input:-moz-placeholder {
      color: grey;
    }

    .searchbox-input::-moz-placeholder {
      color: grey;
    }

    .searchbox-input:-ms-input-placeholder {
      color: grey;
    }

    .searchbox-icon, .searchbox-submit {
      width: 60px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      font-family: verdana;
      font-size: 22px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 100%;
      text-align: center;
      cursor: pointer;
      color: #EB7C10;
      background: white;
    }

    .searchbox-submit {
      color: white;
    }

    .searchbox-open {
      width: 100%;
    }

    .searchbox-search-icon {
      color: #EB7C10;
      min-height: 50px;
      font-size: 24px;
      margin-left: -1px;
      padding-top: 12px;
    }

/* Mobile Settings For Navigation */

  @media screen and (min-width: 768px) {
    .navbar-nav .mobile-mode {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {

    .navbar-nav .desktop-mode {
      display: none;
    }

    .navbar-logo {
      height: 35px;
      padding-left: 50px;
      margin-top: 5px;
    }

    .navbar-img {
      width: 35px;
      padding-top: 0px;
      margin-top: 0;
    }

    .navbar-default button.navbar-toggle {
      border: 0px;
      margin-top: 10px;
      margin-right: 38px;
      margin-bottom: 0;
      padding: 0;
      height: 35px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #EB7C10;
      width: 22px;
      height: 2px;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }

    .navbar-toggle:hover .icon-bar-top {
      top: -3px;
      position: relative;
      transition: all 2s ease-out;
    }

    .navbar-toggle:hover .icon-bar-bottom {
      bottom: -3px;
      position: relative;
      transition: all 2s ease-out;
    }


    .navbar-header {
      transition: 0.7s linear;
    }

    .main-nav li a:hover {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav li a:hover {
      color: rgb(51,51,51);
      border-bottom: transparent;
    }

    .navbar-default .navbar-nav li .black-font:hover {
      color: rgb(51,51,51);
      border-bottom: transparent;
    }

    /* Mobile Search Bar */
      .searchbox-mobile {
        position: relative;
        min-width: 51px;
        width: 100%;
        max-width: 870px;
        height: 45px;
        margin-bottom: 20px;
        margin-top: 10px;
        overflow: hidden;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
      }

      .searchbox-input-mobile {
        top: 0;
        right: 0;
        border: 1px solid #ccc;
        outline: 0;
        background: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0px 55px 0px 20px;
        font-size: 18px;
        font-family: HelveticaNeue;
      }

      .searchbox-icon-mobile {
        width: 50px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        font-family: verdana;
        font-size: 22px;
        right: 0;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        border-left: none;
        outline: 0;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
        color: #f7f7f7;
        background: #EB7C10;
      }

      .searchbox-icon-mobile {
        background: rgb(218, 109, 13);
      }

      .searchbox-search-icon-mobile {
        color: white;
        min-height: 50px;
        font-size: 24px;
        position: relative;
        top: -6px;
      }
  }

.blog {
  margin-top: 50px;
  background: white;
  box-shadow: -1px 1px 8px lightgrey;
}

.post-img {
  width: 100%;
  max-height: 50vh;
}

@media screen and (min-width: 768px) {
  .blog {
    max-width: 63%;
    margin-left: 10%;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 85px;
    margin-top: 85px;
  }

  .post-img-container {
    width: 100%;
    margin: 0 auto;
  }

  .post-img {
    width: 100%;
    max-height: 390px;
  }

  .blog-content {
    width: 80%;
    margin: 0 auto;
  }
}

.sidebar {
  padding: 85px 0 0 0;
}

@media screen and (min-width: 768px) {
  .web-related-posts {
    display: block;
  }
  .mobile-related-posts {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .web-related-posts {
    display: none;
  }
  .mobile-related-posts {
    display: block;
  }
}

.blog-content {
  padding: 10px 30px 0 30px;
}

.blog-content-extended {
  padding: 10px 30px 0 30px;
}

.post-tags-likes-row {
  margin-bottom: 2px;
}

.post-tags {
  display: inline;
  float: left;
  margin: 0;
  padding: 5px 7px;
  margin-top: 14px;
  margin-right: 6px;
  font-size: 14px;
  color: white;
}

.post-likes-icon, .post-likes-number {
  display: table-cell;
}

.post-likes {
  float: right;
  margin-top: 14px;
  margin-right: 13px;
}

.post-likes-icon {
  font-size: 28px;
  color: #cc0000;
}

.post-likes-number {
  margin: 0;
  font-size: 23px;
  font-family: AvenirLight;
  padding: 0;
  position: relative;
  top: -2px;
}

.post-title {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: bold;
  font-size: 40px;
  color: #333333;
}

.post-description {
  color: #787878;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 10px;
}

.post-author-date {
  color: #787878;
  font-size: 15px;
  margin: 0;
  margin-top: 15px;
  font-family: 'Lato';
}

.social-nav {
  height: 45px;
}

.social-icon {
  font-size: 27px;
  color: white;
  padding: 13px 0;
}

@keyframes slideIn {
  0% {
    left: -70px;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -70px;
  }
}

.social-icons-row {
  height: 100%;
}

.social-icon-container {
  height: 100%;
  text-align: center;
}

.social-facebook {
  background: #3b5999;
}

.social-whatsapp {
  background: #25d366;
}

.social-googleplus {
  background: #dd4b39;
}

.social-twitter {
  background: #55acee;
}

.social-pocket {
  background: #EF4056;
}

.social-linkedin {
  background: #0077B5;
}

@media screen and (min-width: 768px) {
  .social-icon-container {
    height: 50px;
    text-align: center;
    width: 70px;
    float: none;
  }

  .social-icons-row {
    left: -70px;
  }
}

.post-seperator-line {
  border-top: 1px solid #787878;
  margin: 35px 0;
}

.post-content {
  font-size: 18px;
  line-height: 30px;
  color: #4c4c4c;
}

.post-like-our-article-prompt {
  background: #EB7C10;
  color: white;
  line-height: 17px;
  text-align: center;
  margin: 0;
  padding: 8px 17px;
  font-size: 14px;
  font-family: HelveticaNeue;
  margin: 20px 0;
  margin-top: 60px;
}

  /* Display - List */

    .display-list {
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 65px;
    }

    .list-style-author-row {
      margin-top: 5px;
    }

    .list-style-img {
      width: 100%;
      height: 140px;
    }

    .list-style-image-column {
      width: 39%;
    }

    .list-style-column {
      width: 100%;
      max-width: 870px;
      height: 140px;
      margin: 0 auto;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }

    .list-style-tags {
      font-size: 11px;
      padding: 4px 9px;
      border: 1px solid #EB7C10;
      margin-right: 10px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 17px;
      background: #EB7C10;
      color: white;
    }

    .list-style-tags:hover, .list-style-tags:focus {
      color: white;
      text-decoration: none;
    }

    .list-style-title {
      font-size: 16px;
      height: 34px;
      font-family: AvenirLight;
      font-weight: bold;
      margin: 10px 0;
      color: rgb(51,51,51);
    }

    .list-style-likes-icon, .list-style-likes-number {
      display: table-cell;
    }

    .list-style-likes {
      float: right;
      margin-top: 10px;
    }

    .list-style-likes-icon {
      font-size: 22px;
      color: #cc0000;
    }

    .list-style-likes-number {
      margin: 0;
      font-size: 20px;
      text-align: center;
      min-width: 23px;
    }

    .list-style-content {
      padding-left: 15px;
      padding-top: 9px;
      height: 140px;
      padding-right: 10px;
      width: 61%;
    }

    .list-style-author, .list-style-author-img, .list-style-author-name, .list-style-time {
      display:inline;
      font-family: 'Quicksand';
    }

    .list-style-author-img {
      width: 30px;
      top: 3px;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    }

    .list-style-author, .list-style-author-name, .list-style-author-img {
      float: left;
    }

    .list-style-author-name {
      margin: 7px 0 0 0;
      font-size: 13px;
      font-weight: bold;
    }

    .list-style-time {
      margin: -5px 0 0 0;
      float: left;
      font-size: 8px;
    }

    @media screen and (max-width: 340px) {
      .list-style-content {
        width: 100%;
      }

      .list-style-image-container, .list-style-img {
        display: none;
      }
    }

    @media screen and (min-width: 870px) {
      .list-style-tags {
        display: inline;
      }

      .list-style-column {
        width: 90%;
        height: 125px;
      }

      .list-style-image-column {
        width: 30%;
      }

      .list-style-img {
        height: 125px;
      }

      .list-style-content {
        height: 100%;
        width: 70%;
      }

      .list-style-title {
        font-size: 23px;
        min-height: 0;
        margin: 0 0 10px 0;
      }

      .list-style-author-row {
        margin-top: 10px;
      }

      .list-style-author-img {
        width: 37px;
      }

      .list-style-author-name {
        font-size: 15px;
      }

      .list-style-time {
        font-size: 12px;
      }

      .list-style-likes-icon {
        font-size: 27px;
      }

      .list-style-likes-number {
        font-size: 25px;
      }



    }

.post-author {
  width: 275px;
  margin: 0 auto;
}

.post-wording {
  position: relative;
  top: 21px;
}

.post-author-img {
  width: 60px;
  top: 9px;
  position: relative;
  border-radius: 50%;
  float: left;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.post-author-name {
  margin: 13px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: rgb(51,51,51);
}

.post-time {
  margin: 3px 0 0 0;
  float: left;
  font-size: 16px;
}

.load-more {
  text-align: center;
  margin: 75px 0 0 0;
}

.load-more-button {
  margin: 0 auto;
  border-radius: 25px;
  color: #Eb7c10;
  font-weight: bold;
  font-size: 12px;
  padding: 9px 16px;
  border: 1px solid #Eb7c10;
  font-family: 'Quicksand';
}

.load-more-button:hover {
  color: white;
  background: #Eb7c10;
  cursor: pointer;
  transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
  .post-author {
    width: 410px;
  }

  .load-more {
    display: inline;
    position: relative;
    top: 11px;
    left: 40px;
  }
}

.recent-post-heading {
  font-size: 40px;
  font-family: Coolvetica;
  padding: 34px 15px;
  margin: 0;
}

.recent-post-heading:after {
  width: 35.8px;
  height: 1px;
  background-color: #EB7C10;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 8px;
}

.post-ending-seperator-line {
  border-top: 1px solid #e8e6e6;
}

.post-like-button-row {
  text-align: center;
}

.post-like-button-icon, .post-like-button-number {
  color: rgb(128, 128, 128);
  display: inline;
}

.post-like-button-icon {
  font-size: 28px;
}

.post-like-button-number {
  position: relative;
  top: -2px;
  font-size: 23px;
  margin: 0;
  font-family: AvenirLight;
  padding: 0;
}

.post-like-button:hover .post-like-button-icon,
.post-like-button:hover .post-like-button-number {
  color: #CC0000;
}

  .otherpost-container {
    padding: 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
  }

  .otherpost-item {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    background-position: center center;
  }

  .otherpost-item-link {
    height: 250px;
    width: 100%;
  }

  .otherpost-title {
    margin-top: 10px;
    height: 52px;
  }

  .otherpost-item-content {
    width: 100%;
    color: white;
    padding: 89px 10px 16px 10px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
  }

  .otherpost-author, .otherpost-author-img, .otherpost-author-name, .otherpost-time {
    display:inline;
  }

  .otherpost-author-img {
    width: 45px;
    border-radius: 50%;
  }

  .otherpost-author, .otherpost-author-name, .otherpost-author-img {
    float: left;
  }

  .otherpost-author-name {
    margin: 5px 0 0 0;
  }

  .otherpost-time {
    margin: 3px 0 0 0;
    float: left;
  }

  .otherpost-tags-group {
    width: 100%;
    height: 37px;
  }

  .otherpost-tags {
    display: inline-block;
    float: left;
    padding: 5px 7px;
    margin-right: 6px;
    border-radius: 4px;
  }

  .otherpost-likes-icon, .otherpost-likes-number {
    display: table-cell;
  }

  .otherpost-likes {
    float: right;
    margin-top: 10px;
    margin-right: 13px;
  }

  .otherpost-likes-icon {
    font-size: 28px;
    color: red;
  }

  .otherpost-likes-number {
    margin: 0;
    font-size: 26px;
  }

  .recent-post-heading {
    margin: 0 auto;
    padding: 65px 0;
  }

  .recent-post-heading:after {
    width: 35.8px;
    height: 1px;
    background-color: #EB7C10;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 8px;
}

/* Footer */
  footer {
    background-color: #EB7C10;
    color: white;
    text-align: center;
    padding: 25px 0px;
    margin: 0;
  }

  .footer-social {
    background: none;
    font-size: 28px;
    padding: 0px 5px;
    color: white;
  }

  .company-copyright, .questions {
    font-size: 22px;
    color: white;
  }

/* Featured Card */
  .featured-card-item {
    padding: 0px 0px 20px 0px;
    list-style: none;
    max-width: 257px;
    width: 90%;
    margin: 0 auto;
    background: white;
    border: none;
    box-shadow: -1px 1px 8px lightgrey;
  }

  .featured-card-img {
    margin: 0 auto;
    width: 100%;
  }

  .featured-card-img img {
    width: 100%;
    height: 180px;
  }

  @media screen and (min-width: 969px) {
    .featured-card-img img {
      height: 170px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 968px) {
    .featured-card-img img {
      height: 130px;
    }
  }

  .featured-card-tags-row {
    margin-top: 20px;
    margin: 20px 0;
    width: 0%;
  }

  .featured-card-tags-group {
    text-align: left;
  }

  @media screen and (max-width: 310px) {
    .featured-card-tags-group {
      display: none;
    }

    .featured-card-tags-row {
      height: 0;
    }
  }

  .featured-card-tags {
    display: inline;
    padding: 5px 7px;
    font-size: 11px;
    margin: 0;
    margin-top: 14px;
    margin-right: 6px;
    color: white;
  }

  .featured-card-tags:hover {
    color: white;
  }

  .featured-card-likes {
    float: right;
    position: relative;
    top: -41px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    padding: 5px 13px;
  }

  .featured-card-title {
    max-height: 85px;
    min-height: 44px;
    font-size: 20px;
    font-family: AvenirLight;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(51,51,51);
  }

  .featured-card-likes-icon {
    font-size: 28px;
    color: #cc0000;
  }

  .featured-card-likes-number {
    margin: 0;
    position: relative;
    top: -2px;
    font-size: 21px;
    padding: 0;
    font-family: AvenirLight;
    color: white;
  }

  .featured-card-likes-icon, .featured-card-likes-number {
    display: inline-block;
  }

  .featured-card-wording {
    position: relative;
    top: 14px;
  }

  .featured-card-author-img {
    width: 37px;
    top: 9px;
    position: relative;
    float: left;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  }

  .featured-card-author-name {
    margin: 13px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Quicksand';
    color: rgb(51,51,51);
  }

  .featured-card-time {
    margin: 3px 0 0 0;
    float: left;
    font-size: 11px;
    font-family: 'Quicksand';
  }

  .featured-card-content {
    width: 90%;
    margin: 0 auto;
  }